<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="Sample Test For Jenkins">
        <classes>
            <class name="org.epam.seleniumtests.SampleTests">
                <methods>
                    <include name="tests"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>